<?xml version="1.0" encoding="utf-8"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="prefix" default=""/>
    <xacro:macro name="gazebo_transmission" params="name">
        <transmission name="${name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${name}">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${name}_motor">
                <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:macro name="nexarm_gazebo_transmission" params="prefix">
        <xacro:gazebo_transmission name="${prefix}joint1"/>
        <xacro:gazebo_transmission name="${prefix}joint2"/>
        <xacro:gazebo_transmission name="${prefix}joint3"/>
        <xacro:gazebo_transmission name="${prefix}joint4"/>
        <xacro:gazebo_transmission name="${prefix}joint5"/>
        <xacro:gazebo_transmission name="${prefix}gripper_base_joint"/>
    </xacro:macro>
</robot>

